:root{
    --main-color:var(#d3ad7f);
    --black:var(#13131a);
    --bg:var(#010103);
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    /*transition: 0.2s linear;*/
    font-family: "Roboto", serif;
}
body{
    background-color: #fff;
}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header{
    position: fixed; /*menu sempre aparecendo*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: #fff;
}
.header section{
    display: flex;
    align-items: center;
    justify-content: space-between; /*espaçamento entre os itens*/
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

 .navbar a{
    margin: 0 2rem;
    font-size: 1.8rem;
    color: #000;
}

.navbar a:hover{
    color: orangered;
    border-bottom: 0.1rem solid orange;
    padding-bottom: 0.5rem;
    
}
.icons img{
    margin: 1.9rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.btn{
    background-color: orange;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}
.container{
    background: url(/imgs/ahmed-nishaath-mrtWpOgaOFA-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover; /*sempre vai cobrir o espaço todo*/
}

.container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}
.content h3{
    color: #000;
    font-size: 4.7rem;
}
.content p{
    color: #000;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8; /*altura da linha*/
    padding: 1rem 0;
}

.tittle{
    font-size: 4rem;
    color: orangered;
    text-align: center;
}

.about{

}

.cont-img{
    width: 10px;
}